body {
	background: white !important;
}

img {
	width: 16px !important;
	height: 16px !important;
}

.mt-100{margin-top: 100px}body{background: #00B4DB;background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);background: linear-gradient(to right, #0083B0, #00B4DB);color: #514B64;min-height: 100vh}

.complete-img {
	width: 24px;
	height:24px;
}
